@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EBECF0;
}
*{
    margin:0;
    padding: 0;
}

.font-bold {
    font-weight: bold;
}

.n-box1 {
    transition: 0.5s;

    border-radius: 41px;
    box-shadow:  5px 5px 0px #c3c3c3,
                 -5px -5px 0px #fdfdfd;
}


.n-box1:hover{
    color: white;
    background-color: #071a28;
    transform: scale(1.1);
    box-shadow: none;
}
