.primary-button{
    background-color:white;
    height:45px;
    border-radius:25px;
    border:none;
    width: 50%;
}

.projects-intro .primary-button{
    background-color: blue;
    color:white

}

.project img {
    height: 180px;
    width: 100%;
}

.project{
    padding:20px;
    border: 1px solid #071a28;
    border-radius: 20px;
    margin-top: 25px;
}

.project-content{
    /* position: absolute; */
    top: 0;
    left: 0;

}
